:root {
	--validation-api-white: #fff;
	--validation-api-lightest-grey: #f7f7f7;
	--validation-api-light-grey: #e8e8e8;
	--validation-api-grey: #b9b9b9;
	--validation-api-dark-grey: #474747;
	--validation-api-black: #1d2327;
	--validation-api-red: #d82000;
	--validation-api-light-red: #ffe4e0;
	--validation-api-dark-red: #a21800;
	--validation-api-yellow: #f0dc00;
	--validation-api-light-yellow: #fffde2;
	--validation-api-dark-yellow: #807500;
}