:root {
	--validation-api-white: #fff;
	--validation-api-light-blue: #dfe9ee;
	--validation-api-blue: #507a96;
	--validation-api-lightest-grey: #f7f7f7;
	--validation-api-light-grey: #e8e8e8;
	--validation-api-grey: #b9b9b9;
	--validation-api-medium-grey: #666;
	--validation-api-dark-grey: #474747;
	--validation-api-black: #1d2327;
	--validation-api-red: #d82000;
	--validation-api-light-red: #ffe4e0;
	--validation-api-dark-red: #a21800;
	--validation-api-yellow: #f0dc00;
	--validation-api-light-yellow: #fffde2;
	--validation-api-dark-yellow: #807500;
    --validation-api-lightest-green: #f1fcf2;
    --validation-api-green: #2aad40;
	--validation-api-dark-green: #1b6027;
    --validation-api-border-width: 3px solid;
    --validation-api-settings-space: 32px;
    --validation-api-font-small: 0.8rem;
}