.validation-api-validation-list {
	margin: 0;
	padding: 0;
}

.validation-api-validation-item {
	width: 100%;
	padding: 12px 14px;
	border-left: var(--validation-api-border-width);
	margin-bottom: 12px;
	border-radius: 2px;

	&:last-child {
		margin-bottom: 0;
	}
}

.validation-api-validation-item--error {
	background-color: var(--validation-api-light-red);
	border-color: var(--validation-api-red);
}

.validation-api-validation-item--warning {
	background-color: var(--validation-api-light-yellow);
	border-color: var(--validation-api-yellow);
}

.validation-api-validation-message {
	font-size: 13px;
	line-height: 1.5;
	margin: 0;

	strong {
		font-weight: 600;
	}
}

.validation-api-validation-item--error .validation-api-validation-message {
	color: var(--validation-api-dark-red);
}

.validation-api-validation-item--warning .validation-api-validation-message {
	color: var(--validation-api-dark-yellow);
}

.validation-api-validation-description {
	font-size: 12px;
	line-height: 1.4;
	margin-top: 8px;
	color: #636363;
}