.validation-api-indicator-errors .validation-api-indicator-section-title-circle,
.validation-api-indicator-warnings .validation-api-indicator-section-title-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.validation-api-indicator-category-label {
    font-style: italic;
}

.validation-api-indicator-errors .validation-api-indicator-section-title-circle {
    background-color: var(--validaion-api-red);
}

.validation-api-indicator-warnings .validation-api-indicator-section-title-circle {
    background-color: var(--validaion-api-yellow);
}

.validation-api-indicator-section + .validation-api-indicator-section {
    margin-top: 24px;
}

.validation-api-indicator-modal-content .validation-api-indicator-errors,
.validation-api-indicator-modal-content .validation-api-indicator-warnings {
    p, ul {
        margin: 0;
    }

    ul {
        margin-left: 3px;
        padding: 4px 0 2px 14px;
    }

    li {
        padding: 4px 0 4px 0;
        margin: 0;
    }
}
